/* App.css */

.bg-black {
  background-color: #000;
}

.bg-opacity-75 {
  opacity: 0.75;
}

.backdrop-filter {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.backdrop-blur-md {
  backdrop-filter: blur(5px);
}

.min-h-screen {
  min-height: 100vh;
}